Select actors which have first name is not equal to PENELOPE

In [8]:
SELECT first_name, last_name 
FROM public.actor
WHERE first_name <> 'PENELOPE'
LIMIT 10;

first_name,last_name
NICK,WAHLBERG
ED,CHASE
JENNIFER,DAVIS
JOHNNY,LOLLOBRIGIDA
BETTE,NICHOLSON
GRACE,MOSTEL
MATTHEW,JOHANSSON
JOE,SWANK
CHRISTIAN,GABLE
ZERO,CAGE

Select actors which have first name does not contain NELO

In [9]:
SELECT first_name, last_name 
FROM actor
WHERE first_name NOT LIKE '%NELO%'
LIMIT 10;

first_name,last_name
NICK,WAHLBERG
ED,CHASE
JENNIFER,DAVIS
JOHNNY,LOLLOBRIGIDA
BETTE,NICHOLSON
GRACE,MOSTEL
MATTHEW,JOHANSSON
JOE,SWANK
CHRISTIAN,GABLE
ZERO,CAGE

Select actors which have 3 \<= actor\_id \>= 5

In [10]:
SELECT actor_id, first_name, last_name 
FROM actor
WHERE actor_id BETWEEN 3 AND 5;

actor_id,first_name,last_name
3,ED,CHASE
4,JENNIFER,DAVIS
5,JOHNNY,LOLLOBRIGIDA

Select actors which have first name equals PENELOPE OR NICK OR ED

In [11]:
SELECT *
FROM actor
WHERE first_name IN ('PENELOPE', 'NICK', 'ED');

actor_id,first_name,last_name,last_update
1,PENELOPE,GUINESS,2006-02-15T04:34:33
2,NICK,WAHLBERG,2006-02-15T04:34:33
3,ED,CHASE,2006-02-15T04:34:33
44,NICK,STALLONE,2006-02-15T04:34:33
54,PENELOPE,PINKETT,2006-02-15T04:34:33
104,PENELOPE,CRONYN,2006-02-15T04:34:33
120,PENELOPE,MONROE,2006-02-15T04:34:33
136,ED,MANSFIELD,2006-02-15T04:34:33
166,NICK,DEGENERES,2006-02-15T04:34:33
179,ED,GUINESS,2006-02-15T04:34:33

Select actors which have first name starting with JA, zero or more characters in between and ending with NE

In [12]:
SELECT *
FROM actor
WHERE first_name LIKE 'JA%NE';

actor_id,first_name,last_name,last_update
62,JAYNE,NEESON,2006-02-15T04:34:33
131,JANE,JACKMAN,2006-02-15T04:34:33
150,JAYNE,NOLTE,2006-02-15T04:34:33
195,JAYNE,SILVERSTONE,2006-02-15T04:34:33

Select actors which have first name starting with JA, containing exactly one letter in between and ending with NE

In [13]:
SELECT *
FROM actor
WHERE first_name LIKE 'JA_NE';

actor_id,first_name,last_name,last_update
62,JAYNE,NEESON,2006-02-15T04:34:33
150,JAYNE,NOLTE,2006-02-15T04:34:33
195,JAYNE,SILVERSTONE,2006-02-15T04:34:33